* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #222;
}

h3 {
    font-size: 1.4rem;
}

i {
    font-size: 1.2rem;
    margin: 19px 0px;
}

/* Cards */

.card{
    padding: 27px;
    height: 17vh;
    background-color: #555;
    color: #fff;
    margin: 28px 18px;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 9px 10px #666;
    align-items: center;
}

/* Create card button: */

.openCardForm{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    transition: background-color .2s;
}

.openCardForm:hover{
    background-color: #aaa;
    color: #eee;
}

.cardForm {
    height: 15vh;
    position: fixed;
    bottom: 300px;
    right: 15px;
    background-color: #555;
    margin: 30px;
    width: 75%;
    border-radius: 13px;
}

.cardForm__flex{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cardForm__section{
    width: min-content;
}

.close-cardForm {
    position: absolute;
    top: 0;
    right: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    border: none;
}

.close-cardForm:hover{
    color: #aaa;
}